@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
